@use "global" as *;

.category-buttons{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: rem(21);
  row-gap: rem(16);
  @include mq("md") {
    grid-template-columns: repeat(4, rem(162));
    column-gap: rem(32);
  }
}